body {
    background: linear-gradient(125deg, #a7c5e3, #26f07a, #2980b9, #e74c3c, #8e44ad);
    background-size: 500%;
    animation: bgAmation 15s linear infinite;
}

@keyframes bgAmation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }

}